.breadcrumb-section {
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center right;
}
.breadcrumb-text {
    a {
        margin-right: 4px;
        color: var(--text-color);
        display: inline-block;
        &:hover {
            color: var(--secondary-color);
        }       
    }
    span {
        margin-left: 4px;
    }
}