body {
    margin: 0;
    font-family: var(--body-font);
    color: var(--body-color);
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

@media(min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1314px;
    }
}

input {
    outline: 0;
}

select {
    outline: 0;
    border: 0;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

button {
    border: 0;
    background-color: transparent;
}

.primary-text-color {
    color: var(--primary-color) !important;
}

.color-heading {
    color: var(--heading-color) !important;
}

.border-bottom {
    border-color: var(--color-border) !important;
}

svg {
    transition: var(--transition-base);
}


// Background color Class 
.zcPrimary-bg {
    background: var(--primary-color) !important;
}

.white-bg {
    background: var(--white-color) !important;
}

.zcPrimary-bgcolor2 {
    background: var(--primary-color2);
}

.zcPrimary-bg3 {
    background: var(--color-background3);
}

// .gmSecondary-bg{
//     background-color: var(--secondary-color) !important;
// }
// .gmShade-bg{
//     background-color: var(--color-shade-background) !important;
// }

// Build For Svg Icon 
// .gm_icon_white {
//     fill: var(--color-white);

//     &>svg {
//         fill: var(--color-white);
//         & path{
//             fill: var(--color-white);
//         }
//     }
// }

// Section Title 
.zc_section_heading {
    position: relative;
    font-family: var(--heading-font);
    font-size: 72px;
    font-weight: 400;
    line-height: 79.2px;
    color: var(--heading-color);
}

// Section Title 
.zc_section_heading3 {
    font-family: var(--heading-font2);
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    color: var(--heading-color2);
}

// Section Subtitle 
.zc_section_subheading3 {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: var(--heading-color2);
    margin-bottom: 8px;
}

// Button
.zc_primary_btn {
    .blob-btn {
        font-size: 18px;
        font-weight: 500;
        line-height: 25.2px;
        background: var(--color-primary-button);
        color: var(--color-primary-button-text);
        display: inline-block;
        padding: 19px 30.5px 20px;
        border-radius: 32px;
        border: 0;
        font-family: var(--body-font);
        text-transform: capitalize;
        position: relative;
        z-index: 1;
        transition: color 0.5s;

        &::before {
            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 32px;
        }

        &::after {
            content: "";
            z-index: -2;
            position: absolute;
            left: 3px;
            top: 3px;
            width: 100%;
            height: 100%;
            transition: all 0.3s 0.2s;
            border-radius: 32px;
        }

        &:hover {
            color: var(--white-color);
            border-radius: 32px;
        }

        &:hover:after {
            transition: all 0.3s;
            left: 0;
            top: 0;
            border-radius: 32px;
        }

        .blob-btn__inner {
            z-index: -1;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 32px;
            background: var(--primary-color);

            .blob-btn__blobs {
                position: relative;
                display: block;
                height: 100%;
                filter: url("#goo");
            }
        }
    }
}

// Button 03
.zc_primary_btn3 {
    & .blob-btn {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        background: var(--white-color);
        color: var(--heading-color2);
        display: inline-block;
        padding: 11px 22px 12px;
        border-radius: 2px;
        line-height: 25px;
        border: 0;
        font-family: var(--body-font);
        text-transform: capitalize;
        position: relative;
        z-index: 1;
        transition: color 0.5s;
        overflow: hidden;

        &::before {
            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 32px;
        }

        &::after {
            content: "";
            z-index: -2;
            position: absolute;
            left: 3px;
            top: 3px;
            width: 100%;
            height: 100%;
            transition: all 0.3s 0.2s;
            border-radius: 32px;
        }

        &:hover:after {
            transition: all 0.3s;
            left: 0;
            top: 0;
            border-radius: 32px;
        }


        & .zc_btn_text {
            @include displayFlex(inline-flex, center, center, row);
            gap: 14px;
        }

        & .blob-btn__inner {
            border-radius: 32px;
            background: var(--white-color);
        }
    }
}

// Animation blob 
.blob-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: var(--heading-color);
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
    .blob-btn__blob {
        transform: translate3d(0, 150%, 0) scale(1.4);
    }
}

.blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
    .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(1.4);
    }
}

// Primary Link Button
.zc_primary_link_btn {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: var(--primary-color);
    @include displayFlex(inline-flex, center, center, row);
    gap: 8px;
}