// Gutter Customize 
.g-30,
.gx-30 {
    --bs-gutter-x: 30px;

    @include large-screen {
        --bs-gutter-x: 24px;
    }
}

.g-30,
.gy-30 {
    --bs-gutter-y: 30px;

    @include large-screen {
        --bs-gutter-y: 24px;
    }
}

.g-46,
.gx-46 {
    --bs-gutter-x: 46px;

    @include large-screen {
        --bs-gutter-x: 24px;
    }
}

.g-46,
.gy-46 {
    --bs-gutter-y: 46px;

    @include large-screen {
        --bs-gutter-y: 24px;
    }
}


.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pb-24 {
    padding-bottom: 24px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.ps-60 {
    padding-left: 60px;
}

.py-80 {
    padding: 80px 0;
}

.pt-96 {
    padding-top: 96px;
}

.pb-96 {
    padding-bottom: 96px;

    @include screen-992 {
        padding-bottom: 40px;
    }
}

.py-96 {
    padding: 96px 0;
}

.pt-120 {
    padding-top: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.ptb-120 {
    padding: 120px 0;

    @include screen-768 {
        padding: 70px 0;
    }
}

.pt-120 {
    padding-top: 120px;

    @include screen-768 {
        padding-top: 70px;
    }
}

.pb-120 {
    padding-bottom: 120px;

    @include screen-768 {
        padding-bottom: 70px;
    }
}

.pt-130 {
    padding-top: 130px;

    @include large-screen {
        padding-top: 100px;
    }
}

.pb-130 {
    padding-bottom: 130px;

    @include large-screen {
        padding-bottom: 100px;
    }
}

.py-120 {
    padding: 120px 0;

    @include large-screen {
        padding: 90px 0;
    }
}

.py-130 {
    padding-top: 130px;
    padding-bottom: 130px;

    @include large-screen {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-34 {
    margin-bottom: 34px;
}

.mb-40 {
    margin-bottom: 40px;

    @include screen-992 {
        margin-bottom: 28px;
    }
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-64 {
    margin-bottom: 64px;

    @include large-screen {
        margin-bottom: 50px;
    }
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-80 {
    margin-top: 80px;
}


.mb-54 {
    margin-bottom: 54px;

    @include large-screen {
        margin-bottom: 40px;
    }
}

.mb-56 {
    margin-bottom: 56px;

    @include large-screen {
        margin-bottom: 42px;
    }
}

.mb-70 {
    margin-bottom: 70px;
}

.mt-120 {
    margin-top: 120px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mt-130 {
    margin-top: 130px;
}

.mb-130 {
    margin-bottom: 130px;
}