/*************** contact page *************/
.contact-form-box {
    padding: 60px;

    @include screen-768 {
        padding: 32px;
    }

    .zc_btnShape {
        width: 16.666%;
        left: calc((var(--b) - 1) * 16.666%);
    }
}

.location-map {
    opacity: 0.8;

    iframe {
        width: 100%;
        height: 500px;

    }
}

.location-box {
    padding: 70px 60px;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: -1;
        border: 1px solid var(--secondary-color);
        left: 0;
        top: 0;
        transition: var(--transition-base);
        opacity: 0;
    }

    h3 {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -7px;
            transform: translateX(-50%);
            width: 30px;
            height: 1px;
            background-color: var(--primary-color);
        }
    }

    &:hover {
        &::before {
            opacity: 1;
            top: 15px;
            left: -15px;
        }
    }
}