.product2-slider-system {
    .rtl_sliderThumb {
        .rtl-slider-slide {
            width: 100%;
            height: 100%;
            background: var(--green-shade-background);
            @include displayFlex(flex, center, center, row);
        }

        .sale-badge {
            position: absolute;
            left: 30px;
            top: 30px;
        }
    }

    .rtl-slider-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;

        @include large-screen {
            display: block;
        }

        .rtl-slider {
            width: 70%;
            margin-right: 25px;
            min-height: 600px;

            .slick-list {
                margin: 0 -12px;

                .slick-slide {
                    margin: 0 12px;
                }
            }

            @include screen-1400 {
                width: 85%;
            }

            @include large-screen {
                width: 100%;
                min-height: auto;
            }

            img {
                width: 980px;

                @include large-screen {
                    width: 97%;
                }
            }
        }
    }

    .rtl-slider-nav {
        max-height: 590px;

        & .rtl-slider-slide {
            height: 100%;
            width: 100%;
            background: var(--green-shade-background);
            @include displayFlex(flex, center, center, row);
        }

        .rtl-slider-slide {
            margin-bottom: 15px;
        }

        @include large-screen {
            margin-top: 24px;

            .slick-list {
                margin: 0 -12px;

                .slick-slide {
                    margin: 0 12px;
                }
            }
        }
    }

    .slick-slide.slick-current.slick-active {
        .rtl-slider-slide {
            opacity: 1;
        }

    }

}

.product-details-2-reviews {
    & i.fa-star {
        color: var(--primary-color);
    }
}

.product-2-info-left {
    position: relative;
    padding-top: 60px;

    .single-product-info {
        .countdown-content {
            max-width: 590px;
            background-color: var(--primary-color);
            color: var(--white-color);

            .countdown-flexign {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
                gap: 34px;
                padding: 10px 30px;

                @include screen-1400 {
                    gap: 10px;
                }

                @include large-screen {
                    flex-wrap: wrap;
                }

                .conutdown-text {
                    @include large-screen {
                        text-align: center;
                        padding-bottom: 10px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    i {
                        margin-right: 5px;
                    }
                }

                .countdown {
                    @include large-screen {
                        text-align: center;
                    }

                    ul {
                        li {
                            display: inline-block;
                            margin: 0 13px;
                            font-size: 12px;
                            font-weight: 400;
                            font-family: var(--body-font);
                            position: relative;

                            .timer-count-number {
                                display: block;
                                text-align: center;
                                font-size: 20px;
                                font-weight: 500;
                            }

                            .countdown-dots {
                                position: absolute;
                                top: 13%;
                                left: 143%;
                            }
                        }
                    }
                }
            }

        }
    }
}


.accodinon-box {
    border: 1px solid var(--color-border);
    padding: 30px 40px;

    @include screen-992 {
        margin-top: 30px;
    }

    .accordion .accordion-item {
        border-bottom: 1px solid #e5e5e5;

        &:last-child {
            border-bottom: none;
        }
    }

    .accordion button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: none;
        background: none;
        outline: none;
        font-family: 'prompt';
    }

    .accordion button:hover,
    .accordion button:focus {
        cursor: pointer;
    }

    .accordion button .accordion-title {
        padding: 20px 0;
    }

    .accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;

    }

    .accordion-item {
        border: none;
    }

    .accordion button .icon::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
    }

    .accordion button .icon::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
    }

    .accordion button[aria-expanded='true'] .icon::after {
        width: 0;
    }

    .accordion button[aria-expanded='true']+.accordion-content {
        opacity: 1;
        max-height: 15em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
    }

    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
    }

    .accordion .accordion-content p {
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        font-family: 'prompt';
    }

}

.inner-product-details3 {
    background-color: #f9f9f9;

    .single-product-tab {
        background-color: var(--white-color);
        padding: 100px;
        margin-top: 50px;
    }

    .product-details-3-area-bg {
        background: var(--white-color);
        padding: 100px;
    }
}

.pd-3-slider-wrapper {
    width: 200px;

    .slick-slide {
        margin-bottom: 15px;

        .feature-image {
            background-color: var(--white-color);
            text-align: center;
            height: 210px;

            img {
                max-width: 100%;
                display: inline-block;
            }
        }
    }

    .product-nav-slider2 {
        @include screen-992 {
            .slick-list {
                margin: 0 -12px;

                .slick-slide {
                    margin: 0 12px;
                }
            }
        }
    }

    @include screen-992 {
        width: 100%;

        .feature-image {
            height: auto;
        }
    }
}


.rtl-slider {
    .rtl-slider-slide {
        position: relative;
        @include displayFlex(start, center, center, row);
        background: var(--green-shade-background);

        .sale-badge {
            width: 50px;
            height: 50px;
            background-color: var(--primary-color);
            color: var(--white-color);
            border-radius: 50%;
            position: absolute;
            left: 50px;
            top: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
        }
    }
}