.layout-grid {
    padding: 8px 12px;
    gap: 12px;
    border: 1px solid var(--color-border);
    a {
        opacity: 0.4;
        &.active {
            opacity: 1;
        }
    }
}

.coupon-banner {
    padding: 60px 0 60px 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}